@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(18, 110, 153);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-tarefa {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 350px;
}

.btn-tarefa {
    padding: 8px 1rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
}